def sum(int a,int b)
{
    return a+b;
}

def double div(double a,double b);

def main()
    {
        int a = 2,b = 1;
		int c = a | b + 4;
        if 0
		{
			print a;
		}
		else
		{
			print b;
		}
        return c;
    }


def div(double a,double b)
{
    return a / b ;
}