def sum(int a,int b)
{
    return a+b;
}

def double div(double a,double b);

def main()
    {
		bool a = true;
		print(++a);
		a = false;
		print(a);
		if 0:
		{
			print(1);
		}
		else if 2:
		{
			print(2);
		}
		else:
		{
			print(3);
		}
		print(55555);
        return 0;
    }


def div(double a,double b)
{
    return a / b;
}