def main()
{
	int a = 0,b = 10;
	a + b;
	a - b;
	a * b;
	a / b;
	a > b;
	a < b;
	a == b;
	a & b;
	a | b;
	a ** b;
	
	double c = 5.5, e = 10.9;
	c + e;
	c - e;
	c * e;
	c / e;
	c > e;
	c < e;
	c == e;
	c ** e;
	
	bool f = false, g = true;
	f and g;
	f or g;
	
	return 0;
}